<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poke-er</title>
    <style>
        #userList {
            display: none;
        }
    </style>
    <script src={{ url_for("static", filename="restFunctions.js") }}></script>
</head>
<body style="margin-bottom: 0">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% if session.username %}
    <h1>Logged in as {{ session.username }}</h1>
{% endif %}
<ul>
    <li><a href={{ url_for('form', action='register') }}>Register</a></li>
    {% if session.username %}
        <li><a href={{ url_for('logout') }}>Log out</a></li>
    {% else %}
        <li><a href={{ url_for('form', action='login') }}>Log in</a></li>
    {% endif %}
    <li><a href="#" id="showUsersLink" onclick="showUsers()">Show Users</a></li>
</ul>

<div id="userList">
    <!-- Content to display all users -->
    <ul id="usersListContent"></ul>
</div>
{% if session.username %}
    <script>
        setUsername("{{ session.username }}");
    </script>
    <ul>
        <li><a href={{ url_for('new_poke') }}>Poke someone</a></li>
        <li><a href={{ url_for('my_pokes') }}>View pokes</a></li>
        <li><a href={{ url_for('form', action='uploadfile') }}>Upload a file</a></li>
    </ul>
    <form action="/newpost" method="post">
        <label for="postContent">Write a post</label>
        <textarea name="postContent" id="postContent" cols="50" rows="5"></textarea>
        <input type="submit" value="Submit">
    </form>
    <hr>

    <h2>Posts from users</h2>
    <div id="userPosts" data-limit="8">
        <script>
            var userPostsDiv = document.getElementById("userPosts");
            var dataLimit = userPostsDiv.getAttribute("data-limit");

            // Convert the data-limit value to a number if needed
            var limitNumber = parseInt(dataLimit, 10);
            showPosts(limitNumber);
        </script>
    </div>
    <script>
        async function loadMorePosts() {
            var userPostsDiv = document.getElementById("userPosts");
            var currentLimit = userPostsDiv.getAttribute("data-limit");
            currentLimit = parseInt(currentLimit, 10);
            const newPostsToLoad = 8;
            var newLimit = currentLimit + newPostsToLoad;
            userPostsDiv.setAttribute('data-limit', newLimit.toString());
            var postsReturned = await showPosts(newLimit);
            //console.log(newLimit, postsReturned);
            if (postsReturned && postsReturned < newLimit) {
                document.getElementById("loadMorePostsLink").remove();
                var msg = document.createElement("p");
                msg.textContent = "All posts loaded!";
                userPostsDiv.insertAdjacentElement("afterend", msg);
            }
        }
    </script>
    <a href="#loadMorePostsLink" onclick="loadMorePosts()" id="loadMorePostsLink">Load more posts</a>

    <div style="background-color: blue; height: 50px;margin-top: 20px;">

    </div>
{% endif %}
<script>
    function showUsers() {
        var userList = document.getElementById('userList');

        // If the user list is not visible, make an AJAX request to fetch the user data
        if (userList.style.display === 'none' || userList.style.display === '') {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var usersListContent = document.getElementById('usersListContent');
                    usersListContent.innerHTML = '<p>All users</p>';  // Clear existing content

                    // Parse JSON response
                    var userData = JSON.parse(xhr.responseText);

                    // Display each username one per line
                    userData.forEach(function (user) {
                        var li = document.createElement('li');
                        li.textContent = user.username;
                        usersListContent.appendChild(li);
                    });

                    // Show the user list
                    userList.style.display = 'block';
                }
            };
            xhr.open("GET", "/get_users", true);
            xhr.send();
        } else {
            // If the user list is already visible, hide it
            userList.style.display = 'none';
        }
    }
</script>

</body>
</html>