<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poke-er</title>
    <style>
        #userList {
            display: none;
        }
    </style>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% if session.username %}
    <h1>Logged in as {{ session.username }}</h1>
{% endif %}
<ul>
    <li><a href={{ url_for('form', action='register') }}>Register</a></li>
    {% if session.username %}
        <li><a href={{ url_for('logout') }}>Log out</a></li>
    {% else %}
        <li><a href={{ url_for('form', action='login') }}>Log in</a></li>
    {% endif %}
    <li><a href="#" id="showUsersLink" onclick="showUsers()">Show Users</a></li>
</ul>

<div id="userList">
    <!-- Content to display all users -->
    <ul id="usersListContent"></ul>
</div>
{% if session.username %}
    <ul>
        <li><a href={{ url_for('new_poke') }}>Poke someone</a></li>
        <li><a href={{ url_for('my_pokes') }}>View pokes</a></li>
        <li><a href={{ url_for('form', action='uploadfile') }}>Upload a file</a></li>
    </ul>
    <form action="/newpost" method="post">
        <label for="postContent">Write a post</label>
        <textarea name="postContent" id="postContent" cols="50" rows="5"></textarea>
        <input type="submit" value="Submit">
    </form>
    <hr>

    <h2>Posts from users</h2>
    <div id="userPosts">
        <script>
            function showPosts() {
                fetch('http://localhost:5000/api/getPosts?limit=8')
                    .then(res => res.json())
                    .then(res => {
                        //console.log(res);
                        for (const resKey in res) {
                            var post = res[resKey];
                            //console.log(post);
                            var newPostDiv = document.createElement("div");
                            var pUsername = document.createElement("p");
                            pUsername.textContent = post['authorUsername'];
                            var pDate = document.createElement("p");
                            pDate.textContent = post['datetime'];
                            var pContent = document.createElement("p");
                            //console.log(post['content']);
                            pContent.innerHTML = post['content'].replaceAll("\r\n", "<br>");
                            newPostDiv.appendChild(pUsername);
                            newPostDiv.appendChild(pDate);
                            newPostDiv.appendChild(pContent);
                            document.getElementById("userPosts").appendChild(newPostDiv);
                            document.getElementById("userPosts").appendChild(document.createElement("hr"));
                        }
                    })
                    .catch(err => console.log(err));
            }

            showPosts();
        </script>
    </div>
{% endif %}
<script>
    function showUsers() {
        var userList = document.getElementById('userList');

        // If the user list is not visible, make an AJAX request to fetch the user data
        if (userList.style.display === 'none' || userList.style.display === '') {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var usersListContent = document.getElementById('usersListContent');
                    usersListContent.innerHTML = '<p>All users</p>';  // Clear existing content

                    // Parse JSON response
                    var userData = JSON.parse(xhr.responseText);

                    // Display each username one per line
                    userData.forEach(function (user) {
                        var li = document.createElement('li');
                        li.textContent = user.username;
                        usersListContent.appendChild(li);
                    });

                    // Show the user list
                    userList.style.display = 'block';
                }
            };
            xhr.open("GET", "/get_users", true);
            xhr.send();
        } else {
            // If the user list is already visible, hide it
            userList.style.display = 'none';
        }
    }
</script>

</body>
</html>