<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poke-er</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/styles.css">

</head>
<body style="margin-bottom: 0">
{% if session.username %}
    <a title="Upload a profile image" href="{{ url_for('form', action='uploadfile') }}" style="cursor: pointer"
       id="mainImage">
    </a>
    <h1>Logged in as {{ session.username }}</h1>
{% endif %}
<nav>
    <ul class="navigation">
        {% if session.username %}
            <li><a href={{ url_for('logout') }}>Log out</a></li>
        {% else %}
            <li><a href={{ url_for('form', action='register') }}>Register</a></li>
            <li><a href={{ url_for('form', action='login') }}>Log in</a></li>
        {% endif %}
        <li><a id="showUsersLink">Show Users</a></li>
    </ul>
</nav>
<div id="userList">
    <ul id="usersListContent"></ul>
</div>
{% if session.username %}
    <ul class="navigation">
        <li><a href={{ url_for('new_poke') }}>Poke someone</a></li>
        <li><a href={{ url_for('my_pokes') }}>View pokes</a></li>
        <li><a href={{ url_for('form', action='uploadfile') }}>Upload a profile picture</a></li>
    </ul>
    <label for="postContent">Write a post</label>
    <br>
    <textarea name="postContent" id="postContent" cols="50" rows="5"></textarea>
    <button id="submitPostBtn">Submit post</button>
    <hr>

    <h2>Posts from users</h2>
    <div id="userPosts" data-limit="8">
    </div>
    <a id="loadMorePostsLink">Load more posts</a>
    <div style="height: 50px;"></div>

    <script type="module">
        import {
            loadMorePosts,
            showPosts,
            showProfileImage,
            submitPost,
            setSessionUsername,
            showUsers
        } from "../static/functions.js";

        setSessionUsername("{{ session.username }}");
        showProfileImage();
        document.getElementById("submitPostBtn").addEventListener("click", submitPost);

        var userPostsDiv = document.getElementById("userPosts");
        var dataLimit = userPostsDiv.getAttribute("data-limit");
        var limitNumber = parseInt(dataLimit, 10);
        showPosts(limitNumber, 0);

        document.getElementById("loadMorePostsLink").addEventListener("click", loadMorePosts);

        document.getElementById("showUsersLink").addEventListener("click", showUsers);
    </script>

{% endif %}
<script>

</script>

</body>
</html>