<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poke someone</title>
</head>
<body>
<a href="/">Back to index</a>
<h1>All users</h1>
<div id="userList"></div>
<div id="infoMessages">
    <p id="lastMessage"></p>
</div>
<script type="module">
    import {getAllUsers, createPoke} from "../static/jsAPICalls.js";

    async function fetchUsers() {
        const users = await getAllUsers();
        const userListDiv = document.getElementById("userList");
        const ul = document.createElement("ul");
        for (let i = 0; i < users.length; i++) {
            const user = users[i];
            if (user.username === "{{ session.username }}") continue;
            const li = document.createElement("li");
            const a = document.createElement("a");
            a.textContent = "Poke";
            a.href = "#userList";
            a.setAttribute("data-username", user.username);
            a.addEventListener("click", makePokeEvent);
            const label = document.createElement("label");
            label.textContent = user.username + ": ";
            li.appendChild(label);
            li.appendChild(a);
            ul.appendChild(li);
        }
        userListDiv.appendChild(ul);
    }

    async function makePokeEvent(event) {
        const a = event.target;
        const usernamePoked = a.getAttribute("data-username");
        const usernamePoking = "{{ session.username }}";
        await createPoke(usernamePoking, usernamePoked);
        document.getElementById("lastMessage").textContent = `You poked ${usernamePoked}!`;
    }

    await fetchUsers();
</script>
</body>
</html>